@import './Application.css';

.header{
  width: calc(100% - 4rem);

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 2rem;
}

.navs{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.nav{
  width: auto;
  height: 70px;
}

.nav img{
  width: auto;
  height: 100%;
}

.infoPanel {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 1rem
}

.recordsFlex{
  display: flex;
  gap: 4rem;
}

.okGuesses {
  color: green;
}

.warningGuesses {
  color: #dbcd00;
}

.dangerGuesses {
  color: red;
}

.gameLostPanel {
  color: red;
}

.gameWonPanel {
  letter-spacing: 0.15rem;
  color: #000;
  text-shadow: -4px 4px #ef3550,
    -8px 8px #f48fb1,
    -12px 12px #7e57c2,
    -16px 16px #2196f3,
    -20px 20px #26c6da,
    -24px 24px #43a047,
    -28px 28px #eeff41,
    -32px 32px #f9a825,
    -36px 36px #ff5722;
}
